<div class="container mt-5">
    {% for post in posts %}
    <article class="mb-5 rounded p-3">
        <h4 class="mt-0 mb-1 navy">{{ post.title }}</h4>
        <p class="navy">Published at {{ post.published_at }}</p>
        <p>{{ post.body | truncate(length=300) }}</p>
        <a href="/post/{{ post.url_key }}" class="btn btn-navy btn-sm">Read more</a>
    </article>
    {% endfor %}
</div>